.body-size {
  width: 100%;
  height: 100vh;
}
.to-center-ab {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}
.bg-maker {
  background-repeat: none;
  background-size: 100% 100%;
}
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
